<ion-header>
  <ion-toolbar class="azul-duoc">  
    <div class="ion-text-center">
      <img alt="DUOC" src="../../../assets/img/logoduocazul.png"  class="logo-duoc" />
    </div>
    <ion-title #titulo class="ion-text-center" 
    style="font-size: 18px; color: white;">
    Sistema de Asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content #page [fullscreen]="true">
    <ion-card class="content ion-text-center">
      <ion-title class="ion-padding-top">
        <ion-label class="ion-text-center">
          <h1> ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!</h1>
          <br>
          <h4> Mis Datos personales</h4>
        </ion-label>
      </ion-title>

      <ion-item #itemCuenta>
        <ion-input [(ngModel)]="usuario.cuenta" label="Cuenta" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item #itemNombre>
        <ion-input [(ngModel)]="usuario.nombre" label="Nombre" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item #itemApellido>
        <ion-input [(ngModel)]="usuario.apellido" label="Apellido" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item #itemCorreo>
        <ion-input [(ngModel)]="usuario.correo" label="Correo" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item #itemPregunta>
        <ion-input [(ngModel)]="usuario.preguntaSecreta" label="Pregunta secreta" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item #itemRespuesta>
        <ion-input [(ngModel)]="usuario.respuestaSecreta" label="Respuesta secreta" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item #itemEducacion>
        <ion-label position="floating"> Educación </ion-label>    

        <ion-select [(ngModel)]="usuario.nivelEducacional!.id">
          <ion-select-option *ngFor="let nivel of listaNivelesEducacionales" [value]="nivel.id">
            {{nivel.nombre}}
          </ion-select-option>
        </ion-select>

      </ion-item>

      <ion-item #itemFechaNacimiento>
        <table>
          <tr>
            <td class="font-size-12">
              Nacimiento
            </td>
            <td class="cell-align-right">
              <input 
                matInput 
                [matDatepicker]="fechaNacimiento" 
                [(ngModel)]="usuario.fechaNacimiento" 
                placeholder="dd/mm/yyyy" 
                class="date-width">
            </td>
            <td class="cell-width-0">
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
            </td>
          </tr>
        </table>
      </ion-item>

      <ion-item #itemContraseña>
        <ion-input [(ngModel)]="usuario.password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item #itemRepetirContraseña>
        <ion-input [(ngModel)]="usuario.password" type="password" label="Repetir contraseña" labelPlacement="floating"></ion-input>
      </ion-item>


      <ion-grid>
        <ion-row >        
          <ion-col col-3>
            <ion-button shape="round" (click)="mostrarDatosPersona()" size="small">
              Ver Mis Datos
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>


      <div class="ion-text-center">
        <ion-label>
          <br>
          
          <u><a (click)="cerrarSesion()">Cerrar sesión</a></u>
          <br><br>


        </ion-label>
    </div>
  </ion-card>
  </ion-content>

  <div>

  </div>
  
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      
        <ion-icon name="pencil"></ion-icon>
        Mis datos
      
  
      <ion-tab-button tab="pencil" (click)="navegar('/inicio')">
        <ion-icon name="play-circle"></ion-icon>
        Inicio
      </ion-tab-button>
  
      
  
      <ion-tab-button tab="library"
      (click)="navegar('/miclase')"
      >
        <ion-icon name="library"></ion-icon>
        Mi clase
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>