
  <ion-header [translucent]="true">
    <ion-toolbar class="azul-duoc">
      
      <ion-card class="ion-text-center azul-duoc">
        <img alt="DUOC" src="../../../assets/img/logoduocazul.png" class="logo-duoc" />
      </ion-card>    
    </ion-toolbar>
    
  </ion-header>
  
  <div class="cienpc fade-in-up" id="pagina-completa">
  <ion-content>
    <br>
    <br>
    <ion-title class="text-with-background ion-text-center">Sistema de Asistencia Duoc</ion-title>
    <br>
    <br>
    <div class="center-container">
      <div class="ion-padding-vertical">
        <ion-card class="content ion-text-center">
          <div class="ion-text-center">
            <br>
            <div class="text-with-background2">
              <br>
              <ion-card-subtitle color="black">PREGUNTA SECRETA</ion-card-subtitle>
              <br>
            </div>         
            <br>
            <ion-card-subtitle>Paso 2: Ingresa tu Respuesta</ion-card-subtitle>
            <br>
            <ion-card-subtitle>{{ usuario?.preguntaSecreta }}</ion-card-subtitle>
          </div>        
          <br>
          <ion-item class="ion-text-center">
            <ion-input type="text" [(ngModel)]="respuesta" placeholder="Ingresa tu Respuesta"></ion-input>
          </ion-item>
          
          <br>  
          <div class="ion-text-center">
            <ion-button (click)="validarRespuestaSecreta()" class="boton-azul" color="primary">
              Recuperar contraseña
            </ion-button>
          </div>
  
          <ion-label class="ion-text-center">
            <br>
            <u><a (click)="irAPaginaSiguiente()">Volver al inicio de sesión</a></u>          
            <br><br>
          </ion-label>
              
        </ion-card>
      </div>
    </div>  
  </ion-content>
</div>


