<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="font-size-18">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="book">
  
  <ion-content #page [fullscreen]="true" class="ion-padding-horizontal page">
    
    <ion-title class="ion-padding-top">
      <ion-label class="ion-text-center">
        <h1> ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!</h1>
        <h4 *ngIf="!datosQR"> Registra tu asistencia a clases </h4>
        <h4 *ngIf="datosQR"> Ya estas presente en tu clase </h4>

      </ion-label>
    </ion-title>

    <div class="centrar">
      <div class="enmarcar">
        <video #video [hidden]="!escaneando" style="width: 100%"></video>
        <canvas #canvas hidden></canvas>
      </div>
    </div>
    
  </ion-content>
</div>

<div>

</div>


<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="pencil" (click)="navegar('/misdatos')">
      <ion-icon name="pencil"></ion-icon>
      Mis datos
    </ion-tab-button>

    
      <ion-icon name="play-circle"></ion-icon>
      Inicio
    

    

    <ion-tab-button tab="library"
    (click)="navegar('/miclase')"
    >
      <ion-icon name="library"></ion-icon>
      Mi clase
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>