<ion-header [translucent]="true">
  <ion-toolbar class="azul-duoc">
    
    <ion-card class="ion-text-center azul-duoc">
      <img alt="DUOC" src="../../../assets/img/logoduocazul.png" class="logo-duoc" />
    </ion-card>    
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <br>
  <br>
  <ion-title class="text-with-background ion-text-center">Sistema de Asistencia Duoc</ion-title>
  
  <div class="center-container">
    <div class="ion-padding-vertical">
      <ion-card class="ion-text-center">
        
        <img alt="DUOC" src="../../../assets/img/alonso-ovalle.jpg" class="foto-portada" />
      
        <ion-card-content>
          <div class="text-with-background2">
            <br>
            <ion-card-subtitle>INICIAR SESIÓN</ion-card-subtitle>
            <br>
          </div>   

          <ion-card-header>
            <ion-toolbar>
              <h2>Inicio de sesión</h2>
            </ion-toolbar>
          </ion-card-header>

          <ion-item>
            <ion-input [(ngModel)]="usuario.cuenta" label="Correo" labelPlacement="floating" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="usuario.password" label="Contraseña" labelPlacement="floating" type="password"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="centrar">
                <ion-button id="open-loading" shape="block" size="small" (click)="ingresar()">Ingresar</ion-button>
                <ion-loading trigger="open-loading" message="¡Bienvenido(a)!" duration="250"></ion-loading>
              </ion-col>
              
            </ion-row>
          </ion-grid>
          
          <!-- NO BORRAR!  -->
           <!-- Esta parte del código redirige a la página "Correo" -->
            <ion-label>
              <br>
              <u><a (click)="ingresarPaginaValidarCorreo()">Recuperar contraseña</a></u>              
              <br><br>
            </ion-label>
          <!-- NO BORRAR!  -->
          

        </ion-card-content>

      </ion-card>

    </div>
  </div>
</ion-content>