.espaciado{
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 30px;
  --padding-start: 30px;
}

.logo-duoc {
  width: 80%;
  padding: 10px;
}
.azul-duoc{
  --background: #010e2c;  
}

.text-with-background {
  background-color: #fbb32f; /* Color del fondo */
  color: black;               /* Color del texto */
  padding: 1px;              /* Espaciado alrededor del texto */
  border-radius: 20px;        /* Bordes redondeados (opcional) */
}

.text-with-background2 {
  background-color: #fbb32f; /* Color del fondo */
  color: black;  
}

ion-content{
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
 
}

.content {
  background-color: white;
  border: 2px solid #010e2c;
  padding-top: 20px;
  padding-bottom: 20px;
}

.boton-azul {
  --border-radius: 10px; /* Cambia el valor para ajustar el redondeo */
  width: auto; /* Ajusta el ancho del botón */
  padding: 0 15px; /* Controla el espaciado horizontal */
}


.center-container {
  
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 90vh; 
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Desvanecerse y moverse hacia abajo */
.fade-out-down {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out; /* 1 segundo de duración */
}

/* Desvanecerse y moverse hacia arriba */
.fade-in-up {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out; /* 1 segundo de duración */
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.cienpc {
  width: 100%;
  height: 100%;
}

/* En global.scss o en el archivo SCSS del componente */

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.foto-portada {
  width: 100%;
}

@media screen and (orientation: landscape) {
  .center-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 80%;           /* Ocupa toda la altura de la pantalla */
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .foto-portada {
    width: 30%;
  }
}