
  <ion-header [translucent]="true">
    <ion-toolbar class="azul-duoc">
      
      <ion-card class="ion-text-center azul-duoc">
        <img alt="DUOC" src="../../../assets/img/logoduocazul.png" class="logo-duoc" />
      </ion-card>    
    </ion-toolbar>   
  </ion-header>

<div class="cienpc fade-in" id="pagina-completa"> 
  <ion-content>
    <br>
    <br>
    <ion-title class="text-with-background ion-text-center">Sistema de Asistencia Duoc</ion-title>
    <br>
    <br>
    <div class="center-container ion-text-center">
      <div class="ion-padding-vertical">
        <ion-card class="content">
          <div class="ion-text-center">
            <br>
            <div class="text-with-background2">
              <br>
              <ion-card-subtitle color="black">RECUPERAR CONTRASEÑA</ion-card-subtitle>
              <br>
            </div>         
            <br>
            <ion-card-subtitle>Paso 1: Ingresa tu Correo</ion-card-subtitle>
          </div>        
          <br>
          <ion-item class="ion-text-center">
            <ion-input type="text" [(ngModel)]="correo" placeholder="Ingresa tu Correo"></ion-input>
          </ion-item>
          
          <br>  
          <div class="ion-text-center">
            <ion-button (click)="ingresarPaginaValidarRespuestaSecreta()" class="boton-azul" color="primary">
              Recuperar contraseña
            </ion-button>
          </div>
  
          <ion-label class="ion-text-center">
            <br>
            <!-- <u><a (click)="irAlLogin()">Volver al inicio de sesión</a></u> -->
            <u><a (click)="irAPaginaSiguiente()">Volver al inicio de sesión</a></u>
            <br><br>
          </ion-label>
              
        </ion-card>
      </div>
    </div>  
  </ion-content>
</div>



