<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>miclase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">miclase</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div>

</div>


<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="pencil" (click)="navegar('/misdatos')">
      <ion-icon name="pencil"></ion-icon>
      Mis datos
    </ion-tab-button>
    

    <ion-tab-button tab="pencil" (click)="navegar('/inicio')">
      <ion-icon name="play-circle"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Mi clase
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
